.favorites-container {
  padding: 1.5em;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  gap: 2em;
}
.favorite-loader {
  text-align: center;
  margin: 1em;
}
.favorite-img {
  max-width: 100%;
  outline: none;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.player {
  border-radius: 50%;
  background-color: #dfd8d8;
}
.favorite-img:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  .favorites-container {
    grid-template-columns: repeat(auto-fill, minmax(4em, 1fr));
  }
}
