.navbar {
  padding: 0.5em 1em;
  display: grid;
  gap: 2em;
  grid-template-columns: max-content max-content min-content max-content;
  background: rgb(92, 87, 87, 0.7);
}
.hello {
  color: #f5f5f5;
  font-size: 1.5em;
  padding-left: 1em;
  font-weight: 550;
}
.icon {
  font-size: 2em;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  color: white;
}

.icon:hover {
  transform: scale(1.2);
}
.authBtn {
  background: #da2d2d;
  color: #f5f5f5;
  border: none;
  font-size: 1em;
  outline: none;
  width: fit-content;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 0.5em;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.authBtn .fa-google {
  padding-left: 0.5em;
}
.authBtn:hover {
  color: #da2d2d;
  background-color: #f5f5f5;
}

@media only screen and (max-width: 600px) {
  .navbar {
    gap: 1.7em;
  }
  .hello {
    font-size: 0.8em;
    padding-left: 0;
  }
  .authBtn {
    font-size: 0.7em;
  }
  .icon {
    font-size: 1.4em;
  }
}
