.scores {
  color: white;
  font-size: 1.2em;
  border-top: 0.1em white solid;
  border-bottom: 0.1em white solid;
  background: rgb(92, 87, 87, 0.7);
  padding: 0.4em 0;
}
.score {
  padding: 0 0.5em;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  .scores {
    font-size: 1em;
    padding: 0.2em 0;
  }
}
