body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background-image: url(./assets/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  min-height: 100vh;
}
