.events-wrapper {
  padding: 0.2em 0.8em;
  display: grid;
  grid-gap: 1em;
  text-align: center;
  grid-template-columns: auto auto;
}

.events-container {
  border-top: #f5f5f5 0.1em solid;
  background: rgba(228, 225, 223, 0.7);
}
.event {
  display: grid;
  padding: 0.5em 0.3em;
  border-bottom: #f5f5f5 0.1em solid;
  grid-template-columns: 35% 30% 35%;
  color: black;
}
.event-date {
  padding-bottom: 1.2em;
}
.team-name {
  font-size: 1.1em;
}
.event-score {
  font-weight: 650;
  font-size: 1.4em;
}
.win {
  padding: 0 0.3em;
  color: #018b3b;
}
.lose {
  padding: 0 0.3em;
  color: #f1392c;
}
.event-details {
  font-weight: 550;
}
.event-img {
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.event-img:hover {
  transform: scale(1.2);
}
.events-toggle {
  padding: 0.5em;
  text-align: center;
  color: #f5f5f5;
  background: rgb(92, 87, 87, 0.7);
}
.toggle-btn {
  margin: 0 auto;
  width: fit-content;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.toggle-btn:hover {
  transform: scale(1.1);
}
.players-container {
  display: block;
  padding: 1.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-gap: 2em;
}
.player-img {
  border-radius: 50%;
  background-color: #dfd8d8;
  max-width: 100%;
}
.overlay {
  position: absolute;
  display: table;
  border-radius: 50%;
  width: 100%;
  text-align: center;
  color: #f5f5f5;
  height: 98%;
  opacity: 0;
  border: 1px #f5f5f5 solid;
}
.player-name {
  font-size: 1.3em;
  display: table-cell;
  vertical-align: middle;
}
.img-container {
  cursor: pointer;
  position: relative;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.img-container:hover {
  transform: scale(1.1);
}
.img-container:hover .overlay {
  opacity: 1;
  background: rgba(37, 36, 36, 0.4);
}
.team-logo-container {
  margin: 0.5em 0;
  text-align: center;
}
.team-logo {
  width: 50%;
  height: auto;
  border-radius: 0 0.3em 0.3em 0;
}
.social-links {
  padding: 0.2em 0.8em;
  border-radius: 0 0.3em 0.3em 0;
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  gap: 1em;
  font-size: 2.2em;
  background: rgba(228, 225, 223, 0.7);
}
.social-icon {
  color: rgb(85, 78, 78);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.social-icon:hover {
  color: rgb(43, 41, 41);
  transform: scale(1.2);
}
.slider {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
  height: auto;
}
.slider-img {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
}
@media only screen and (max-width: 600px) {
  .event-img {
    width: 2em;
    height: 2em;
  }
  .event-score {
    font-size: 1em;
  }
  .team-name {
    font-size: 0.9em;
  }
  .player-name {
    font-size: 0.4em;
  }
  .event-date {
    font-size: 0.8em;
  }
  .events-wrapper {
    display: block;
  }
  .overlay-text {
    font-size: 0.8em;
    padding: 30% 0.5em;
  }
  .players-container {
    grid-template-columns: repeat(auto-fill, minmax(3em, 1fr));
  }
  .social-links {
    font-size: 1.5em;
  }
}
